@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(../../Image/fond.jpg);
    backdrop-filter: brightness(50%);
    background-size: cover;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: auto;
}
body::-webkit-scrollbar {
    display: none;
  }
footer{
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-top: 2vh;
    height: 5%;
    color: white;       
    text-align: center;
    justify-content: center;
    font-family: 'Great Vibes';
    font-size: 2vw;
}
/*Stylisation du titre principale */
.title_home{
    position: relative;
    justify-content: center;
    font-family: 'Playfair Display';
    font-style: italic;
    color: white;
    margin-top: 12vh;
    font-weight: 700;
    text-shadow: 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.753);
    font-size: 6vw;
    width: 100vw;
}
.container{
    position: relative;
    display: grid;
    width: 96%;
    height: 100%;
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.5vw;
    column-gap: 2vw;
}
.container_tendance{
    width: 100%;
    height: 40vh; /* Hauteur des carrés */
    max-height: 40vh;
    min-height: 40vh;
    border-radius: 1em;
    color: white;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.container_tendance:last-child{
    margin-right: 0;
}