body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: white;
    background-image: url(../../Image/6037288.jpg);
    background-size: cover;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
/*Stylisation du titre principale */
.title_home{
    position: relative;
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display';
    font-style: italic;
    margin-top: 8vh;
    font-weight: 700;
    text-shadow: 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.753);
    font-size: 6vw;
    width: 100vw;
}

.container_tendance{
    width: calc(31.33% ); /* 10px de marge entre les carrés */
    height: 40vh; /* Hauteur des carrés */
    margin-left: 1%; /* Marge entre les carrés */
    margin-top:2%;
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;
}

.container_tendance:last-child{
    margin-right: 0;
}