@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(../../Image/fond.jpg);
    backdrop-filter: brightness(50%);
    background-size: cover;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: auto;
}
body::-webkit-scrollbar {
    display: none;
  }
footer{
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-top: 2vh;
    height: 5%;
    color: white;       
    text-align: center;
    justify-content: center;
    font-family: 'Great Vibes';
    font-size: 2vw;
}
/*Stylisation du titre principale */
.title_home{
    position: relative;
    justify-content: center;
    font-family: 'Playfair Display';
    font-style: italic;
    color: white;
    margin-top: 12vh;
    font-weight: 700;
    text-shadow: 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.753);
    font-size: 6vw;
    width: 100vw;
}
.container{
    position: relative;
    display: grid;
    width: 94%;
    height: 100%;
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1.5vw;
    column-gap: 2vw;
}
.container_tendance{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 55vh; /* Hauteur des carrés */
    border-radius: 1em; 
    color: white;
    overflow: hidden;
}
.container_tendance div{
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: auto;
    line-height: 0.5vh;
    justify-content: left;
}
.container_tendance p{
    font-size: 1.3vw;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1vw;
}
.container_tendance p:nth-child(1){
    color: white;
    z-index: 1;
    font-weight: bold;
}
.container_tendance p:nth-child(2){
    color: rgb(185, 185, 185);
}
.container_tendance p:nth-child(3){
    color: white;
}
.image_soiree{
    position: absolute;
    object-fit: cover;
    top: 0;
    border-radius: 1em;
    width: 100%;
    height: 45vh;
}

.container_tendance:last-child{
    margin-right: 0;
}