@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: white;
}

.container_input{
    position: relative;
    margin-top: 15vh;
    display: flex;
    justify-content: center;
}

.input_soiree{
    transition: transform 2s ease ;
    height: 5vh;
    width: 50vw;
    border: 0.3em solid purple ;
    border-radius: 2em;
    text-align: center;
}

.input_soiree:hover, .input_soiree:focus {
    transform: scale(1.1); /* Zoom au survol et lorsqu'il est en focus */
    outline: none;
}
.input_soiree::placeholder{
    color: rgba(0, 0, 0, 0.63);
}

.container_code{
    position: absolute;
    display:flex;
    top: 16vh;
    right: -16vw;
    width: 20vw;
    height: 5vh;
    background-color: rgb(255, 255, 255);
    transition: all 0.8s ease-in;
    border-radius: 2em 0 0 2em;
    padding: 0;
}

.logo_code{
    position: absolute;
    top: 0;
    left: 0;
    height: 5vh;
    width: 5vw;
    cursor: pointer;
    border-radius: 2em;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.texte_code{
    transition: opacity 0.8s ease-in;
    transition-delay: 0.2s;
    position: relative;

    opacity: 0;
    top:3vh;
    left: 2vw;
    color: rgb(0, 0, 0);

}



.input_code{
    position: absolute;
    left: 5.5vw;
    top: 0;
    height: 2vh;
    width: 13.5vw;
    margin-top: 1vh;
    border: 0.1em solid rgba(0, 0, 0, 0.82) ;
    border-radius:2em;
    text-align: center;
}
.input_code:hover, .input_code:focus {
    outline: none;
}