@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: auto;
    color: whitesmoke;
    
}
body::-webkit-scrollbar {
    display: none;
  }
footer{
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-top: 2vh;
    height: 5%;
    color: white;       
    text-align: center;
    justify-content: center;
    font-family: 'Great Vibes';
    font-size: 2vw;
}
.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    margin-top: 10vh;
    align-items: center;
}
.preview{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 50vh;
    text-align: center;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    background-color: rgba(255, 255, 255, 0.1);
}
.container_input{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: auto;
    text-align: left;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: rgba(255, 255, 255, 0.1);
}
input {
    position: relative;
    margin-top: 4vh;
    margin-left: 3vw;
    background-color: transparent;
    border: none;
    border-bottom: solid rgba(255, 255, 255, 0.6);
    color: white;
    transition: border-bottom 0.3s ease;
    padding-left: 0;
}

input:focus {
    outline: none;
    border-bottom: solid white;
}
main{
    margin-top: 100px;
}


.container_link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    position: relative;
    top: 10%;
}
.link,.link::after {
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

.link{
    font-weight: 500;
    text-transform: uppercase;
    text-wrap: nowrap;
    color: black;
    padding: 5px;
    text-decoration: none;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.link::before,.link::after{
    content: "";
    background: #0e0011;
    position: absolute;
    z-index: -1;
}

 
.link::after {
    content: "";
    background: #0e0011;
    position: absolute;
    z-index: -1;
    height: 0;
    left: 50%;
    top: 50%;
    width: 0;
    border-radius: 2em;
}

.link:hover::after {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    
}

.link:hover{
    color: white;
    transform: scale(1.1);
  }

button{
    display: flex;
    border-radius: 2em;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    transition: all 0.3s ease-in;
}


.content_liste {
    color: white;
    position: relative;
    width: 100vw;
    height: auto;
    margin-top: 20px;
}

.banner {
    position: relative;
    color: white;
    height: 7vh;
    width: 95vw;
    margin: 0 2.5vw 0 2.5vw;
    border-bottom: solid 3px white;
    letter-spacing: 0.1rem;
}

.txt_banner {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.txt_banner h1 {
    font-size: 2.25rem; /* Taille de la police adaptée aux grands écrans */
}

.txt_banner p {
    font-size: 1.2rem; /* Taille de la police adaptée aux grands écrans */
    font-weight: 500;
}


.liste_soiree_editeur {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0 2.5vw;
    height: 100%;
    overflow-x: auto;
    list-style: none; /* Supprime les puces de la liste */
    transition: all 0.2s ease;
}

.soiree {
    color: white;
    height: auto;
    width: calc(33.33% - 1.5vw); /* Ajuste la largeur des éléments pour en afficher 3 */
    margin-right: 1.5vw;
    flex: 0 0 calc(33.33% - 1.5vw); /* Ajuste la largeur des éléments pour en afficher 3 */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 3vh;
}

.soiree:last-child {
    margin-right: 0; /* Pas de marge pour le dernier élément */
}

.soiree img {
    border-radius: 15px;
    width: 100%; /* Pour que l'image occupe toute la largeur du conteneur */
    height: auto;
}

.soiree .date {
    margin-top: 20px;
    width: 100%;
    border-bottom: 3px solid white;
    color: #F31260;
    font-weight: 700;
    font-size: 1.5em;
}

.container_titre {
    position: absolute;
    top: 15%;
    width: 30%;
}
.soiree .container_titre .titre{
    display: flex;
    justify-content: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5em;
    color: #338EF7;
}

.soiree .description {
    margin-top: 10px;
}

.soiree .description h2 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
    margin-bottom: 5px;
}

.container_txt {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(241, 241, 241, 0.459);
    border-radius: 8px;
}

/* Styles pour la barre de défilement */
.liste_soiree_editeur::-webkit-scrollbar {
    width: 12px; /* Largeur de la barre de défilement */
}

/* Bouton de défilement */
.liste_soiree_editeur::-webkit-scrollbar-button {
    display: none; /* Masque le bouton de défilement */
}

/* Track (la "rail" sur laquelle se déplace le thumb) */
.liste_soiree_editeur::-webkit-scrollbar-track {
    background: #f1f1f1; /* Couleur de fond de la rail */
}

/* Thumb (la poignée de la barre de défilement) */
.liste_soiree_editeur::-webkit-scrollbar-thumb {
    background: #db1d5c; /* Couleur de la poignée */
}


