@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(../../Image/fond.jpg);
    background-size: cover;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: auto;
}
body::-webkit-scrollbar {
    display: none;
  }
footer{
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-top: 2vh;
    height: 5%;
    color: white;       
    text-align: center;
    justify-content: center;
    font-family: 'Great Vibes';
    font-size: 2vw;
}
.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    margin-top: 10vh;
    align-items: center;
}
.preview{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 50vh;
    text-align: center;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    background-color: rgba(255, 255, 255, 0.1);
}
.container_input{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: auto;
    text-align: left;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: rgba(255, 255, 255, 0.1);
}
input {
    position: relative;
    margin-top: 4vh;
    margin-left: 3vw;
    background-color: transparent;
    border: none;
    border-bottom: solid rgba(255, 255, 255, 0.6);
    color: white;
    transition: border-bottom 0.3s ease;
    padding-left: 0;
}

input:focus {
    outline: none;
    border-bottom: solid white;
}