body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
    background-size: contain;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: auto;
    background-color: #0e0011;
}
body::-webkit-scrollbar {
    display: none;
  }

.disconnect{
    position: absolute;
    top: 10vh;
    left: 20vw;
    height: 5vh;
    width: 5vw;

}