/* Définition des polices */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* Corps de la page */
body {
    margin: auto;
    background-image: url(../../Image/fond.jpg);
    background-size: cover;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Pied de page */
footer {
    position: absolute;
    background-color: rgba(11, 11, 11, 0.5);
    width: 100%;
    top: 100%;
    height: 10vh;
    color: white;       
    text-align: center;
    align-content: center;
    font-family: 'Great Vibes';
    font-size: 2vw;
}

.sign_in {
    position: absolute;
    top: 50%;
    left: 0;
    width: 20vw;
    padding: 3%;
    text-align: center;
    transform: translate(-50%, -50%);
    transition: left 1s ease-in-out;
    background-color: transparent;
    backdrop-filter: blur(100px);
    border: solid 1px rgba(255, 255, 255, 0.5);
    border-radius: 1em;
    z-index: 0; /* Ajoutez cette ligne */
}
.login {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20vw;
    padding: 3%;
    text-align: center;
    transform: translate(-50%, -50%);
    transition: left 1s ease-in-out;
    background-color: transparent;
    backdrop-filter: blur(100px);
    border: solid 1px rgba(255, 255, 255, 0.5);
    border-radius: 1em;
    z-index: 1; /* Ajoutez cette ligne */
}


/* Fond latéral */
.fond_cote {
    background-image: url(../../Image/fond_cote.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

/* Styles pour les champs de saisie */
input {
    position: relative;
    width: 100%;
    height: 15%;
    margin-top: 10%;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: solid 2px rgba(255, 255, 255, 0.6);
}
.sign_in input:nth-child(1), .sign_in input:nth-child(2){
    width: 45%;
}
input:focus{
    outline: none;
    border-bottom: solid 2px white;
}
input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}
input:-webkit-autofill{
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0 1000px rgb(52, 52, 52) inset;
}
.switch{
    position: relative;
    cursor: pointer;
    color: white;
    margin-top: 2vh;
}
button{
    position: relative  ;
    margin-top: 3vh;
    width: 100%;
    height: 5vh;
    border-radius: 1em;
}
@keyframes sign_in {
    0% {
        left: 0;
    }
    5% {
        left: 5%;
    }
    10% {
        left: 10%;
    }
    15% {
        left: 15%;
    }
    20% {
        left: 20%;
    }
    25% {
        left: 25%;
    }
    30% {
        left: 30%;
    }
    35% {
        left: 35%;
    }
    40% {
        left: 40%;
    }
    45% {
        left: 45%;
    }
    50% {
        left: 50%;
    }
    55% {
        left: 55%;
    }
    60% {
        left: 54%;
    }
    65% {
        left: 53%;
    }
    70% {
        left: 52%;
    }
    75% {
        left: 51%;
    }
    80% {
        left: 50.5%;
    }
    85% {
        left: 50.3%;
    }
    90% {
        left: 50.2%;
    }
    95% {
        left: 50.1%;
    }
    100% {
        left: 50%;
    }
}
h2{
    color: white;
    text-align: center;
    font-size: 5vh;
    margin: 0;
}




