@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #111111;
    overflow-y: scroll;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none;
}
footer{
    position: relative;
    background-color: rgba(11, 11, 11, 0.5);
    width: 100%;
    margin-top: 2vh;
    height: 5%;
    color: white;       
    text-align: center;
    justify-content: center;
    font-family: 'Great Vibes';
    font-size: 2vw;
}
.spherelumineuse{
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: all 5s;
    box-shadow: inset 0 0 10px #ffffff,
                inset 10px 0 20px #f0f,
                inset -10px 0 20px #0ff,
                inset 10px 0 100px #f0f,
                inset -10px 0 100px #0ff,
                0 0 10px #fff,
                5px 0 200px #f0f;
    z-index: -999;
}
.formulaire_container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}
form{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 40vh;
    padding: 3%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 1em;
}
input{
    background-color: transparent;
    color: white;
}
input::placeholder{
    color:white;
}